<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/travel_agency_repository</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <mapping class="by.travel.touristagency.entity.User"/>
        <mapping class="by.travel.touristagency.entity.Profile"/>
        <mapping class="by.travel.touristagency.entity.Company"/>
        <mapping class="by.travel.touristagency.entity.Voucher"/>
        <mapping class="by.travel.touristagency.entity.VoucherInfo"/>
        <!-- DB schema will be updated if needed -->
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
    </session-factory>
</hibernate-configuration>